<form action="login " method="post">
    <input type="hidden" value="@ViewBag.returnUrl"  name="returnUrl"/>
    <input type="text" name="account" value="" />
    <input type="password" name="password" value="" />
    <button type="submit"></button>
</form> 
